html, body {
  margin: 20px;
  padding: 0;
  background-color: #151E3F
}

canvas {
  display: block;
}

div {
  color:#F2F3D9;
}

span {
  color:#F2F3D9;
}

h1 {
  color:#F2F3D9;
}

text {
  color:#F2F3D9;
}